parameters:
	ignoreErrors:
		-
			message: '#^Method Metacomet\\EnvSync\\Providers\\AwsSecretsManagerProvider\:\:generateSecretName\(\) is unused\.$#'
			identifier: method.unused
			count: 1
			path: src/Providers/AwsSecretsManagerProvider.php

		-
			message: '#^Method Metacomet\\EnvSync\\Providers\\AwsSecretsManagerProvider\:\:getSecretValue\(\) is unused\.$#'
			identifier: method.unused
			count: 1
			path: src/Providers/AwsSecretsManagerProvider.php

		-
			message: '#^Method Metacomet\\EnvSync\\Providers\\AwsSecretsManagerProvider\:\:secretExists\(\) is unused\.$#'
			identifier: method.unused
			count: 1
			path: src/Providers/AwsSecretsManagerProvider.php

		-
			message: '#^Unreachable statement \- code above always terminates\.$#'
			identifier: deadCode.unreachable
			count: 5
			path: src/Providers/AwsSecretsManagerProvider.php

		-
			message: '#^Method Metacomet\\EnvSync\\Providers\\BitwardenProvider\:\:getItemContent\(\) is unused\.$#'
			identifier: method.unused
			count: 1
			path: src/Providers/BitwardenProvider.php

		-
			message: '#^Method Metacomet\\EnvSync\\Providers\\BitwardenProvider\:\:getItemId\(\) is unused\.$#'
			identifier: method.unused
			count: 1
			path: src/Providers/BitwardenProvider.php

		-
			message: '#^Method Metacomet\\EnvSync\\Providers\\BitwardenProvider\:\:sync\(\) is unused\.$#'
			identifier: method.unused
			count: 1
			path: src/Providers/BitwardenProvider.php

		-
			message: '#^Unreachable statement \- code above always terminates\.$#'
			identifier: deadCode.unreachable
			count: 5
			path: src/Providers/BitwardenProvider.php
